* {

    padding: 0px;

    margin: 0px;

}

ul,
ol {

    list-style: none;

}

.botones li a {

    background-color: rgb(150, 194, 194);

    color: rgb(0, 0, 0);

    text-decoration: none;

    padding: 10px 10px;

    display: block;

}

.contenedor{
    width: 100%;
    height: 156px;
    margin-top: 1%;

}

.menu {

    margin-left: 370px;

    width: 800px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.botones>li {

    float: left;

}

.menu li:hover>ul {

    display: block;

}

.botones li a:hover {

    background-color: rgb(235, 238, 238);

}

.menu li ul {

    position: absolute;


    display: none;

}



.encabezado {

    width: 100%;

    font-size: 40px;
    text-align: center;
    color: brown;


}