* {

    padding: 0px;

    margin: 0px;

}



body {
    background-image: url("zyro-image.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}


.electro {
    background-image: url("electronica.gif");
    width: 440px;
    height: 440px;

}

.contenido {


    width: 40%;

    margin-top: 2%;

    float: left;

}

.contenidotecno {


    width: 100%;

    margin-top: 2%;


}


.imagentecno {



    background-repeat: no-repeat;

    float: right;

    height: 200px;
    
    width: 20%;

    margin-left: 50px;

    margin-right: 5px;

    margin-top: 30px;

    background-image: url("medellin.jpeg");

}


.contenidotecno center audio{
    margin-right: 10%;
    padding-bottom: 10%;
}

.textotecno {

    text-align: justify;

    color: rgb(12, 11, 11);

    font-size: 30px;



}


/*
La etiqueta imagentecno y textotecno se puede modificar de acuerdo a la 
necesidad de cada una de las página.

*/

.imagen {



    background-repeat: no-repeat;

    float: right;

    height: 200px;

    width: 260px;

    margin-left: 5px;

    margin-right: 5px;

    background-image: url("medellin.jpeg");

}
.imagenoperadores{



    background-repeat: no-repeat;

    float: right;

    height: 700px;

    width: 600px;

    margin-left: 5px;

    margin-right: 5px;

    background-image: url("operadores.jpeg");

}



.basicaelectronica{



    background-repeat: no-repeat;

    float: right;

    height: 900px;

    width: 900px;

    margin-left: 6px;

    margin-right: 7px;

    background-image: url("basica.png");

}









.texto {


    text-align: justify;

    color: rgb(247, 113, 25);

    font-size: 30px;

    margin-bottom: 50px;

}

.contenedor1{
    width: 100%;
    height: 50px;
    margin-top: 1%;
    
}

.contenedor12{
    width: 100%;
    height: 500px;
    margin-top: 1%;
}

.contenedor12M{
    width: 60%;
    height: 500px;
    margin-top: 1%;
    float: right;
}